/* Import Inter for body and Oswald for headings */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap'); */
/* Import Inter and Rajdhani fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Rajdhani:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Tailwind base imports */
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif; /* for general text */
  scroll-behavior: smooth;
 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif; /* for headings */
}


::-webkit-scrollbar{
    display: none;
}


/* shape divider css */
.custom-shape-divider-bottom-1773611099 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1773611099 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1773611099 .shape-fill {
    fill: #e5e7eb;
}

/* top shape divider */

.custom-shape-divider-top-1773714535 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1773714535 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-top-1773714535 .shape-fill {
    fill: #101828;
}








/* custom style */


.blob {

  border: 2px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.blob-back {

  border: 2px;
  border-radius: 26% 74% 43% 57% / 78% 26% 74% 22%    ;
  
}

.blob-back2 {
    border:2px;
    border-radius: 34% 66% 53% 47% / 42% 36% 64% 58% ;
}

.blob-pick {
    /* border-width: 2px; */
    border-radius: 60% 40% 62% 38% / 33% 56% 44% 67% ;
}